body {
    border-top: 11px #ededed solid;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#bloqueColor {
    background-color: #e2e0e0;
    margin: 0 auto;
    width: 960px;
}

/* Estrutura del Sitio */

.contenido {
    width: 900px;
}

.wraper {
    width: 960px;
    margin: 0 auto;
}

#logo img {
    margin-left: 65px;
    width: 353px;
}

/* Menu */

#lista {
    list-style: none;
    margin: 34px 0 0 0;
}

.bordeLista {
    border-bottom: 6px #676766 solid;
}

#lista li {
    float: left;
}

#primero {
    margin-left: 43px;
}

#lista li +li {
    margin-left: 52px;
}

#lista a {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #676766;
    text-decoration: none;
}

/*Bloque info*/
.info h2 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #d3001c;
    margin-left: 60px;
}

.info p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    margin-left: 60px;
}

.info h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #8c0013;
    margin-left: 60px;
}

.bloques {
    display: inline-block;
}


.bloques {
    background-color: #f5f3f3;
    position: relative;
    width: 440px;
}

.bloques h4 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #707070;

}

.bloques p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #313131;
    
}

.posicion {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #313131;

}
.posicion a {
    text-decoration: none;
    color: #d3001c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.espacios {
padding: 0 0 116px 0;
}
.max {
    width: 253px;
    display: inline-block;
}

.maximo {
    width: 373px;
}

 
p + img {
    margin-left: 52px;
}


#bloqueColor p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #d3001c;
    margin: 0;
}

.espaciado {
    padding: 32px 342px 31px 342px;
}
